.about__our-story {
  height: 551px;
  margin-top: 99.75px;
  /* margin-bottom: 100.25px; */
  position: relative;
  overflow: hidden;
}

.about__our-story > img {
  position: absolute;

  right: -17%;
  top: -10%;
}

.about__our-story-text {
  display: flex;
  justify-content: center;
  gap: 120.75px;
}

.about__our-story-text p {
  margin-right: 267.16px;
  font-size: 18.75px;
  font-family: "Nunito", sans-serif;
  margin-bottom: 10px;
}

.about__our-story-text h2 {
  font-weight: bolder;
  font-size: 28.5px;
  margin-bottom: 28.25px;
}

.about__our-story-text p span {
  font-weight: bold;
}

.about__our-story-text img {
  /* position: absolute; */
  margin-left: 312.58px;
  width: 437.25px;
  height: 351px;
}

.about__location {
  height: 473px;
  background-color: var(--color-primary);
}

.about__location .wrapper {
  display: flex;
  justify-content: space-evenly;
}

.about__location div {
  text-align: center;
  padding: 54px 40px;
}

.about__location iframe {
  padding: 54px 0;
  width: 516px;
  height: 288px;
}

.about__social-media {
  padding-block: 80px;
  display: flex;
  justify-content: space-around;
}

.about__social-media div {
  max-width: 300px;
}