.about__our-story {
  padding-block: 120px;
  position: relative;
  overflow: hidden;
}

.about__our-story > img {
  position: absolute;
  right: -17%;
  top: 8%;
}

.about__our-story-text {
  display: flex;
  justify-content: center;
  gap: 120.75px;
}

.about__our-story-text p {
  margin-right: 267.16px;
  margin-bottom: 10px;
}

.about h2 {
  margin-bottom: 28.25px;
}

.about__our-story-text p span {
  font-weight: bold;
}

.about__our-story-text img {
  margin-left: 312.58px;
  width: 437.25px;
  height: 351px;
}

.about__location {
  background-color: var(--color-primary);
}

.about__social-media {
  padding: 80px 10%;
  display: flex;
  justify-content: space-around;
}

.about__social-media-text {
  max-width: 300px;
}
