.button {
  font-family: 'Nunito';
  background-color: transparent;
  color: var(--color-text-light);
  border: 1px solid var(--color-text-light);
  cursor: pointer;
  transition: background-color linear 0.4s;
}

.button:hover {
  background-color: #5f4a39;
  color: #ffffff;
}
