footer {
  width: 100%;
}

.footer-container {
  background-color: var(--color-primary);
  font-family: 'Nunito', sans-serif;
  display: flex;
  justify-content: space-between;
  height: 128px;
  padding: 16px 12%;
}

.logotext-container {
  display: flex;
  align-items: center;
}

.logotext-container > img {
  height: 75px;
  margin-right: 26.23px;
}

footer .social-icons {
  display: flex;
  gap: 18px;
  flex-shrink: 0;
  align-items: center;
}

footer .social-icons img {
  width: 24px;
  aspect-ratio: 1;
}
