.gallery {
  padding: 24px 12% 64px;
}

.gallery h1 {
  text-align: center;
  color: var(--color-accent);
  font-weight: 700;
  padding-block: 20px;
}

.gallery__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  grid-auto-flow: dense;
}

@media (min-width: 800px) {
  .gallery__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 148px;
  }

  .item-1,
  .item-4 {
    grid-row: span 3;
  }

  .item-1 {
    object-position: 0% 8%;
  }

  .item-2 {
    grid-row: span 4;
    grid-column-start: 1;
  }

  .item-3,
  .item-5,
  .item-6,
  .item-7 {
    grid-row: span 2;
  }

  .item-1,
  .item-2,
  .item-7 {
    grid-column-start: 1;
  }

  .item-3,
  .item-4,
  .item-5,
  .item-6 {
    grid-column-start: 2;
  }
}

.gallery__grid > * {
  position: relative;
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.gallery__container {
  background-color: var(--color-primary);
  display: flex;
}

.gallery__socials {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: auto;
  padding-block: 64px;
}

.gallery__socials > div {
  display: flex;
  gap: 16px;
  align-items: center;
}

.gallery__socials img {
  width: 64px;
}
