.home__landing {
  background-image: url("../../public/img/resutaurantFront.jpg"); 
  opacity: 0.75;
  height: 464px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__welcome-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.7);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  width: 908px;
  height: 156px;
  border-radius: 7.5px;
}

.home__welcome-text {
  text-align: center;
}

.home__welcome-text h1 {
  font-size: 37.5px;
  font-weight: bold;
  line-height: 52px;
}

.home__welcome-text p {
  font-family: "Nunito", sans-serif;
  font-size: 26.25px;
  line-height: 36px;
  opacity: 0.9;
}

/* .home__about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10%;
  max-width: 80%;
  margin-inline: auto;
  border: solid #5F4A39 0.89px;
  border-radius: 4.45px;
  height: 509.45px;
  
} */
.home__about-box {
  height: 384px;
  width: 1134px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__about-border {
  border: 0.75px solid var(--color-accent);
  border-radius: 3.75px;
  width: 960px;
  height: 168px;
}

.home__about-row {
  display: flex;
  align-items: center;
}

.home__about-column h2 {
  font-size: 37.5px;
  color: var(--color-accent);
  line-height: 52.5px;
  margin-left: 87px;
  margin-right: 87px;

}

.home__about-column p {
  font-size: 18.75px;
  line-height: 25.58px;
  margin-right: 44.25px;
}

.home__menu {
    /* max-width: 445px; */
    background-color: #F5E2E2;
    width: 100%;
}

.home__location {
  display: flex;
  justify-content: space-around;
}

.home__location div {
  text-align: center;
}

h1, h2 {
  font-family: 'Julius Sans One';
  font-style: normal;
  font-weight: 400;
}

h1 {
  color: var(--color-text-dark);
}

h2 {
  color: var(--color-accent);
}

p {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
}