.location {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  height: 473px;
}

#locationMap {
  width: 516px;
  height: 288px;
  margin-top: 93px;
  margin-bottom: 92px;
}

.location__hours {
  margin-top: 94.5px;
  margin-bottom: 115.5px;
}

.location__hours h2 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 28.5px;
  font-weight: bolder;
  margin-bottom: 28.25px;
  text-shadow: 0.3px 0.3px var(--color-accent);
}

.location__hours p {
  text-align: center;
  font-size: 18.75px;
  margin-right: 180px;
}

.location__hours p:nth-child(2n) {
  font-weight: 500;
}

.location__hours p:nth-child(5) {
  margin-bottom: 8.25px;
}

.location__hours p:nth-child(6) {
  margin-bottom: 37.5px;
  font-size: 15px;
  font-weight: 400;
}

.location__address img {
  width: 19.5px;
  height: 19.5px;
  margin-right: 6px;
}

.about__location .location__address {
  display: flex;
  align-items: center;
}

#address {
  font-weight: 300;
}
