main {
  font-family: 'Julius Sans One', sans-serif;
}

.menu__headers ul {
  display: flex;
  justify-content: center;
  font-size: 28.5px;
  margin-top: 55.5px;

}

.menu__headers li {
  list-style: none;
}

.menu__headers a {
  text-decoration: none;
  font-weight: bold;
  color: var(--color-accent);
}

/* .menu__headers a:active {
  background-color: var(--color-primary);
} */

.menu__headers span {
  margin-right: 29.25px;
  margin-left: 29.25px;
}

.menu__download {
  display: flex;
  flex-direction: row;
  /* Need to find a better way to write this */
  margin-inline-start: 932.75px;
}

.menu__download img {
  width: 16.31px;
}

.menu__download p {
  font-size: 16.5px;
  font-weight: bold;
  margin-right: 14px;
}


.menu__image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__image img {
  margin-bottom: 47px;
  width: 655.5px;
  height: 927.75px;
}