nav {
  width: 100%;
  background: var(--color-primary);
  padding: 12px 238.25px 12px 241.29px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 108.36px 94.25px;

  max-width: 1512px;

  font-family: 'Julius Sans One', sans-serif;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.nav-links li {
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}

.nav-links li a {
  text-decoration: none;
  color: var(--color-text-dark);
}

.nav-links li a.active {
  border-bottom: 1px solid var(--color-text-dark);
}

.nav-container > img {
  width: 72px;
  height: 72px;
}

.social-icons {
  display: flex;
  gap: 18px;
  flex-shrink: 0;
}

.social-icons img {
  width: 24px;
  aspect-ratio: 1;
}